body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(245, 245, 220, 0.71);
}
h1, h2, h3, h4, h5, h6, p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}